.Home {
  min-height: calc(100vh - 3rem);
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding-top: 3rem;

  h1 {
    color: #a0b1c5;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  input {
    border: none;
    background-color: #1e3148;
    color: white;
    height: 2rem;
    width: 20rem;
    font-size: 1.5rem;
    padding-left: 0.25rem;
    margin-bottom: 3rem;

    &::placeholder {
      font-size: 1.4rem;
      color: #a0b1c5;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2.5rem;
    column-gap: 3.5rem;
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }
}
