.Navbar {
  background-color: #152232;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }

  a {
    color: #a0b1c5;
    font-size: 1.2rem;
    text-decoration: none;
  }
}
