.PlanToWatch {
  min-height: calc(100vh - 3rem);
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding-top: 3rem;

  h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2.5rem;
    column-gap: 3.5rem;
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }
}
